[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-conference"]
	path = themes/hugo-conference
	url = https://github.com/jweslley/hugo-conference
